<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="title"><b>RESUME</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large"></ion-title>
    </ion-toolbar>
  </ion-header>
  
<!-- NAme tag -->

<ion-card>
  <ion-card-header>
    <ion-card-title><b>ANKITA SHEJAL</b></ion-card-title>

    <ion-card-subtitle>Social Media Coordinator at IIC Sardar Patel Institute of Technology.<br>Mumbai, Maharashtra, India.</ion-card-subtitle>
    <ion-card-subtitle></ion-card-subtitle>
  </ion-card-header>
  
  <ion-card-content>
    Highly responsible and motivated team player,dedicated to delivering optimal performance through strong work ethic and solution-oriented approach.
  </ion-card-content>
</ion-card>
<br>

<!-- EDUCATION -->
<ion-title><b>EDUCATION </b></ion-title>
<ion-card>
  <ion-card-header>
    <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://img.collegepravesh.com/2018/11/SPIT-Mumbai-Logo.png" alt="Logo" />
        </ion-thumbnail>
        <ion-label>Masters in Computer Applications</ion-label>
      </ion-item>

      <ion-item>
        <ion-thumbnail slot="start">
          <img src="https://courses.ind.in/img/b/download-logo-of-pune-university.png" alt="Logo" />
        </ion-thumbnail>
        <ion-label>Bachelors in Computer Science</ion-label>
        
      </ion-item>

      
    </ion-list>
  </ion-card-content>
</ion-card>
<br>

<!-- SKIILS -->
<ion-title><b>TECHNICAL SKILLS</b></ion-title>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>JAVA</ion-card-title>
      </ion-card-header>
</ion-card>

<ion-card color="secondary">
  <ion-card-header>
    <ion-card-title>DBMS</ion-card-title>
    
  </ion-card-header>
</ion-card>

<ion-card color="tertiary">
  <ion-card-header>
    <ion-card-title>DEV-OPS</ion-card-title>

  </ion-card-header>
</ion-card>

<ion-card color="success">
  <ion-card-header>
    <ion-card-title>HTML,CSS & JS</ion-card-title>
  </ion-card-header>
</ion-card>

<ion-card color="warning">
  <ion-card-header>
    <ion-card-title>IONIC FRAMEWORK</ion-card-title>
     </ion-card-header>
</ion-card>
<br>

<!-- PROJECTS -->
<ion-title><b>PROJECTS</b></ion-title>
<ion-card>
  <ion-card-header>
    <ion-card-title>MOVIE TICKET MANAGEMENT SYSTEM</ion-card-title>
    <ion-card-subtitle>Tech Stack : JAVA at frontend and SQL at backend.</ion-card-subtitle>
  </ion-card-header>

  <ion-card-content>
    A web-based platform for convenient booking of movie tickets. It provides a user-friendly interface for the user to book tickets and also provides an admin panel for the admin to manage the website.
  </ion-card-content>
</ion-card>

<!-- mini projects -->
<ion-card>
  <ion-card-header>
    <ion-card-title>MINI PROJECTS</ion-card-title>
    <ion-card-subtitle>1. NFT WEBSITE</ion-card-subtitle>
    <ion-card-content>Tech Stack : HTML,CSS & JS <br>unlock the world of unique digital assets on our NFT marketplace</ion-card-content>
    <ion-card-subtitle>2. TRAVEL-BEE</ion-card-subtitle>
    <ion-card-content> Tech Stack : HTML,CS & ANGULAR.JS <br>Explore the world with travel-bee services ,delivering memorable experencies and hassle-free adventures</ion-card-content>
  </ion-card-header>
</ion-card>
<br>
<!-- CERTIFICATIONS -->
<ion-title><b>CERTIFICATIONS</b></ion-title>
<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>ApnaCollege-DSA</ion-card-title>
  </ion-card-header>
</ion-card>
<ion-card color="dark">
  <ion-card-header>
    <ion-card-title>Hackerrank : SQL(BASIC)</ion-card-title>
  </ion-card-header>
</ion-card>


  
</ion-content>
<div id="container">
   <p></p>
    <p><a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components"></a></p>
  </div>


